.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.disable-link {
  pointer-events: none;
}
.hide {
  display: none;
}
.m-0 {
  margin: 0;
}
.spc-even {
  justify-content: space-around;
}
.sub-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  padding: 1rem;
}
.ucg-container {
  border: none;
}
::ng-deep .mat-expansion-indicator::after {
  color: rgba(0, 0, 0, 0.54) !important;
}
::ng-deep .mat-expansion-panel-header {
  padding-left: 15px !important;
}
.mat-mdc-button.mat-accent,
.mat-mdc-outlined-button.mat-accent {
    color: #009122;
}
.mat-mdc-button.mat-accent:hover,
.mat-mdc-outlined-button.mat-accent:hover {
  background-color: #f0fff3;
}
.mat-mdc-raised-button.mat-accent,
.mat-mdc-unelevated-button.mat-accent,
.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  color: #f0fff3;
  background-color: #009122;
}
.mat-mdc-icon-button.mat-accent {
  color:#009122;
}
.merchant-cls {
  padding-top: 17px;
  padding-left: 10px;
}
.last-elemnt {
  padding-right: 15px;
}
